APP_NAME="Yudilahne App"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://app.yudilahne.my.id
APP_TIMEZONE=Asia/Makassar

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=yudilahne_app
DB_USERNAME=yudilahne
DB_PASSWORD=change-this-password
DB_ROOT_PASSWORD=change-this-root-password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_DOMAIN=.yudilahne.my.id
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="admin@yudilahne.my.id"
MAIL_FROM_NAME="${APP_NAME}"

FILAMENT_ADMIN_EMAILS=admin@yudilahne.my.id

RUN_DB_SEED=true
ADMIN_NAME="Yudilahne Admin"
ADMIN_EMAIL=admin@yudilahne.my.id
ADMIN_PASSWORD=change-this-admin-password
